.main-section {
  background-color: $gray-darkest;
  color: $gray-lighter;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // @media (min-width: $screen-lg) {
  //   padding: 8em;
  // }

  &__link-to-portfolio {
    text-align: right;
    padding-right: 6em;

    a {
      display: inline-block;
      color: currentColor;
      text-transform: uppercase;
      letter-spacing: 0.075em;
      position: relative;

      &::before {
        content: '';
        background-color: currentColor;
        width: 4em;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 5em;
        transform: translateY(-50%);
        transform-origin: 0% 50%;
        transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      &::after {
        content: '';
        border-top: 1px solid currentColor;
        border-right: 1px solid currentColor;
        width: 1.25vh;
        height: 1.25vh;
        transform: translateX(0) translateY(-50%) rotate(45deg);
        position: absolute;
        top: 50%;
        left: 9.25em;
        transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      &:hover {

        &::before {
          transition: transform 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transform: scaleX(1.5);
        }

        &::after {
          transition: transform 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transform: translateX(5.5vh) translateY(-50%) rotate(45deg);
        }
      }
    }
  }
}