.social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5em;

  @media (min-width: $screen-sm) {
    // justify-content: flex-start;
    margin-top: 3em;
  }

  &__group {
    display: block;
  }

  &__item {
    margin-bottom: 0.75em;
    margin-right: 1.25em;
  }

  &__link {
    display: inline-block;
    color: currentColor;

    &:hover {

      svg {
        transform: scale(1.075);
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
      transition: transform .1s ease-in-out 0s;

      @media (min-width: $screen-sm) {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    &--yellow {

      svg {
        fill: #f7ca18;
      }
    }
  }
}