.title {
  font-family: $font-family--heading;
  color: currentColor;
  user-select: none;
  cursor: default;
  line-height: 1.1em;
  font-size: 2em;
  text-indent: -0.5rem;

  @media (min-width: $screen-xs) {
    font-size: 4em;
  }

  @media (min-width: $screen-sm) {
    font-size: 6em;
  }

  @media (min-width: $screen-md) {
    font-size: 8em;
  }
}