.work {
  background-color: $gray-darkest;
  color: $gray-lighter;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;

  @media (min-width: $screen-lg) {
    padding: 8em;
    padding-left: 10em;
  }

  &__title {
    font-family: $font-family--heading;
    text-indent: -0.25rem;
  }

  &__list {
    list-style-type: none;

    li {

      a {
        color: $gray-lighter;
        display: inline-block;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
    }
  }
}