<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#333">

<link href="css/style.min.css" rel="stylesheet" media="screen">
<!--DEV <link rel="icon" href="img/favicon.ico" type="image/x-icon"> -->
<link rel="stylesheet" href="https://fonts.typotheque.com/WF-030333-010103.css" type="text/css" />

<!--DEV Такой комментарий не попадет в собранный HTML
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
-->
