@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black'),
       local('Raleway-Black'),
       url('../fonts/ralewayblack.woff2') format('woff2'),
       url('../fonts/ralewayblack.woff') format('woff'),
       url('../fonts/ralewayblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}