a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  font-size: #{$base-font-size + '%'}; // 100% = 16 pixels
  background-color: $gray-darkest;

  // @media (min-width: $screen-md) {
  //   font-size: #{$base-font-size--desktop + '%'}; // 112.5% = 18 pixels
  // }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  @include line-height(1);
  @include margin-bottom(0);
  @include margin-top(0);
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

ul, ol {
  padding-left: 0;
  list-style-position: outside;
}

h1, h2, h3, h4 {
  font-family: $font-family;
  font-weight: 900;
  font-style: normal;
}

// .h1,
// h1 {
//   font-size: $font-size--h1;
// }

// .h2,
// h2 {
//   font-size: $font-size--h2;
// }

// .h3,
// h3 {
//   font-size: $font-size--h3;
// }

// .h4,
// h4 {
//   font-size: $font-size--h4;
// }

// .h5,
// h5 {
//   font-size: $font-size--h5;
// }

// .h6,
// h6 {
//   font-size: $font-size--h6;
// }

small {
  font-size: $font-size--small;
}

b,
strong {
  font-weight: 700;
}

blockquote {

  p {
    text-indent: -0.5em;
  }
}

hr {
  margin-top: $line-height;
  margin-bottom: $line-height;
  border: 0;
  border-top: 1px solid $text-color;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;

  &:hover {
    text-decoration: none;
  }
}

button {
  background-color: inherit;
  border: none;
}