// Width

$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$color-main:                  hsl(208, 98%, 43%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);

$text-color:                  #333;
$body-bg:                     #e3e3e3;


// Typography

// $font-size--h1:               2rem;
// $font-size--h2:               1.75rem;
// $font-size--h3:               1.5rem;
// $font-size--h4:               1rem;
// $font-size--h5:               1rem;
// $font-size--h6:               1rem;

$text-indent:                 1em;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
$font-family--heading:        'Delvard Gradient Left';
$font-family--serif:          'Georgia', 'Times New Roman', serif;
$font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;


// Other

$border-radius:               2px;
$opacity:                     0.7;